<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'graph_style.css' %}">
    <title>ACCURACY GRAPH FOR THE ALGORITHMS USED</title>
  </head>
  <body>
    <header>
      <h1 class="h">ACCURACY GRAPH FOR THE ALGORITHMS USED</h1>

      <div class="progress-bar">
        <div class="bar" style="width: var(--random-forest-percentage, 0%);"></div>
        <div class="label" id="random-forest-label">0%</div>
      </div>
      <p><b>Random forest</b></p>

      <div class="progress-bar">
        <div class="bar" style="width: var(--Logistic-Regression-percentage, 0%);"></div>
        <div class="label" id="Logistic-Regression-label">0%</div>
      </div>
      <p><b>Logistic Regression</b></p>

      <div class="progress-bar">
        <div class="bar" style="width: var(--svm-percentage, 0%);"></div>
        <div class="label" id="svm-label">0%</div>
      </div>
      <p><b>Support vector machine</b></p>

      <form>
        <button type="button" onClick="getCm();">SHOW MATRIX</button>
    </form>
    </header>

    <script>
      function getCm() {
      // code to generate and display confusion matrix goes here
        
      // navigate to confusionmatrix.html
      window.location.href = "confusionmatrix.html";
      }

      const urlParams = new URLSearchParams(window.location.search);
      const rfPercentage = urlParams.get('rf');
      const lrPercentage = urlParams.get('lr');
      const svmPercentage = urlParams.get('svm');
      
      const updateGraph = (rfPercentage, lrPercentage, svmPercentage) => {
          document.documentElement.style.setProperty('--random-forest-percentage', rfPercentage);
          document.getElementById('random-forest-label').textContent = rfPercentage;
      
          document.documentElement.style.setProperty('--Logistic-Regression-percentage', lrPercentage);
          document.getElementById('Logistic-Regression-label').textContent = lrPercentage;
      
          document.documentElement.style.setProperty('--svm-percentage', svmPercentage);
          document.getElementById('svm-label').textContent = svmPercentage;
      };
      
      updateGraph(rfPercentage, lrPercentage, svmPercentage);
    </script>
  </body>
</html>
