<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'graph_style.css' %}">
    <title>ACCURACY GRAPH FOR THE ALGORITHMS USED</title>
  </head>
  <body>
    <header>
      <h1 class="h">ACCURACY GRAPH FOR THE ALGORITHMS USED</h1>

      <div class="progress-bar">
        <div class="bar" style="width: var(--random-forest-percentage, 0%);"></div>
        <div class="label" id="random-forest-label">0%</div>
      </div>
      <p><b>Random forest</b></p>

      <div class="progress-bar">
        <div class="bar" style="width: var(--Logistic-Regression-percentage, 0%);"></div>
        <div class="label" id="Logistic-Regression-label">0%</div>
      </div>
      <p><b>Logistic Regression</b></p>

      <div class="progress-bar">
        <div class="bar" style="width: var(--svm-percentage, 0%);"></div>
        <div class="label" id="svm-label">0%</div>
      </div>
      <p><b>Support vector machine</b></p>

      <form method="post" action="{% url 'confusionmatrix' %}">

        {% csrf_token %}
        <input type="hidden" name="lr_cm[0]" value="{{ lr_cm.0 }}">
        <input type="hidden" name="lr_cm[1]" value="{{ lr_cm.1 }}">
        <input type="hidden" name="lr_cm[2]" value="{{ lr_cm.2 }}">
        <input type="hidden" name="lr_cm[3]" value="{{ lr_cm.3 }}">
        <input type="hidden" name="rf_cm[0]" value="{{ rf_cm.0 }}">
        <input type="hidden" name="rf_cm[1]" value="{{ rf_cm.1 }}">
        <input type="hidden" name="rf_cm[2]" value="{{ rf_cm.2 }}">
        <input type="hidden" name="rf_cm[3]" value="{{ rf_cm.3 }}">
        <input type="hidden" name="svm_cm[0]" value="{{ svm_cm.0 }}">
        <input type="hidden" name="svm_cm[1]" value="{{ svm_cm.1 }}">
        <input type="hidden" name="svm_cm[2]" value="{{ svm_cm.2 }}">
        <input type="hidden" name="svm_cm[3]" value="{{ svm_cm.3 }}">
        <button id="prediction-button" type="submit" onClick="getCm()" style="background-color: #3a4939; color: rgb(255, 255, 255); padding: 14px 20px; border: none; border-radius: 3px; cursor: pointer; font-size: 16px;">SHOW PREDICTION</button>
    </form>
    </header>

    <script>
      function getCsrfToken() {
    const cookieValue = document.cookie.match(/csrftoken=([^;]+)/)[1];
    return cookieValue;
}

      document.getElementById("prediction-button").addEventListener("click", getCm);
      function getCm() {
    const file_name = document.getElementById('file_name').value;

    fetch("/getdata/", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCsrfToken()
        },
        body: JSON.stringify({
            file_name: file_name
        })
    })
    .then(response => response.json())
    .then(data => {
        var confusion_matrix_url = "/confusionmatrix?" +
            "lr_tp=" + data["CM of LogisticRegression-TP"] +
            "&lr_fp=" + data["CM of LogisticRegression-FP"] +
            "&lr_fn=" + data["CM of LogisticRegression-FN"] +
            "&lr_tn=" + data["CM of LogisticRegression-TN"] +
            "&rf_tp=" + data["CM of RandomForest - TP "] +
            "&rf_fp=" + data["CM of RandomForest - FP "] +
            "&rf_fn=" + data["CM of RandomForest - FN "] +
            "&rf_tn=" + data["CM of RandomForest - TN "] +
            "&svm_tp=" + data["CM of SVM Model - TP"] +
            "&svm_fp=" + data["CM of SVM Model - FP"] +
            "&svm_fn=" + data["CM of SVM Model - FN"] +
            "&svm_tn=" + data["CM of SVM Model - TN"];

        // navigate to confusionmatrix.html
        window.location.href = confusion_matrix_url;
    })
}

      
      const urlParams = new URLSearchParams(window.location.search);
      const rfPercentage = urlParams.get('rf');
      const lrPercentage = urlParams.get('lr');
      const svmPercentage = urlParams.get('svm');
      
      const updateGraph = (rfPercentage, lrPercentage, svmPercentage) => {
          document.documentElement.style.setProperty('--random-forest-percentage', rfPercentage);
          document.getElementById('random-forest-label').textContent = rfPercentage;
      
          document.documentElement.style.setProperty('--Logistic-Regression-percentage', lrPercentage);
          document.getElementById('Logistic-Regression-label').textContent = lrPercentage;
      
          document.documentElement.style.setProperty('--svm-percentage', svmPercentage);
          document.getElementById('svm-label').textContent = svmPercentage;
      };
      
      updateGraph(rfPercentage, lrPercentage, svmPercentage);
    </script>
      
  </body>
</html>
